**/*.svg
package.json
.umi
.umi-production
/dist
.dockerignore
.DS_Store
.eslintignore
*.jpg
*.jpeg
*.gif
*.png
*.svg
*.eot
*.ttf
*.woff
*.woff2
*.txt
*.toml
*.mp3
*.mp4
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
/tmp
/temp
/publish